@import 'bootstrap/dist/css/bootstrap.min.css';

.report-header {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  max-width: 200px;
  margin-bottom: 20px;
}

.d-none {
  display: none !important;
}
